<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CHAMAGOL - Confirmação de E-mail</title>
    <link rel="icon" href="/images/icon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/confirm-email.css}">
</head>
<body>
    <div class="main-container">
        <img th:src="${confirmed} ? '/images/checkicon.png' : '/images/xicon.png'" class="icon" alt="Status Icon"/>
        <div th:if="${confirmed}">
            <div class="success">E-mail confirmado com sucesso!</div>
            <div class="message">Agora você pode voltar ao aplicativo e fazer login normalmente.</div>
        </div>
        <div th:if="${!confirmed}">
            <div class="error">Não foi possível confirmar o e-mail.</div>
            <div class="message">O link pode estar expirado ou já ter sido utilizado.<br>Solicite um novo no aplicativo.</div>
        </div>
    </div>
</body>
</html>